<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="chatfront.gif" type="image/x-icon">
    <title>ChitChat</title>
    <link rel="stylesheet" href="stylehome.css">
</head>
<body>
<div class="main-cotainer">
    <h1>Welcome Online ChitChat</h1>
    <div class="container">
        <form action="/login" method="post">
            <img src="chatfront.gif"  alt="">
            <h3>ChitChat User Login</h3>
            <label for="">Username <span>*</span>
            <input type="email" name="email" placeholder="Please enter email" autofocus required>
            </label>
            <label for="">Password <span>*</span>
                <input type="password" name="password" placeholder="Please enter password" required>
            </label>
            <button>Login</button>
            <p>Don't have an account ? <a href="/signup">Sign up</a></p>
           
        </form>
    </div>
</div>
</body>
</html>