*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.main-cotainer{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.Profile_background{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 0vh;
    z-index: -1;
    display: none;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Profile_background img{
    width: 70vh;
    border-radius: 2%;
    height: 90vh;
    outline: 5px solid #128C7E;
    border: 0px solid;
    object-fit: cover;
}
.nav{
    height: 10vh;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    display: flex;
    padding: 0rem 2rem;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap:4vh;
}
#para i{
    font-size: 18px;
}
.send_image_message{
    position:absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px -1px 10px black;
    bottom: 8vh;
    align-self: flex-start;
    height: 55vh;
    width: 60vh;
    background-color:#141e30;
}
.send_image_message i{  
    height: 5vh;
    width: 5vh;
    align-self: flex-end;
    cursor: pointer;
    font-size: 22px;
}
.send_image_message img{
    height: 45vh;
    width: 55vh;
}
.nav #para{
    font-size: 1rem;
    font-weight: 600;
    height: 6vh;
    display: flex;
    color: #00c6ff;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}
.logout_div{
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
i{
    font-size: 2.3rem;
    color: white;
}
img{
    height: 6vh;
}
.chat_container{
    height: 90vh;
    width: 100vw;
    display: flex;
}
.users_container{
    width: 25vw;
    background-color: #f6f6f6;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    overflow: auto;
}
.users_div{
    min-height: 9vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999;
    align-items: center;
    padding: 0vh 5vh;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #666;
}
.users_div span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.users_div:hover{
    background-color:#e9edef;
    color: #333333;
    cursor: pointer;
}

.users_img{
    color: #128C7E;
    outline: 2px solid #128C7E;
    border: 0px solid;
    width: 7vh;
    height: 7vh;
    object-fit: cover;
    border-radius: 50%;
}
.container{
    width: 75vw;
    height: 90vh;
    display: flex;
    background-image: url('./chatnew.png');
    background-position: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container .chat_front_img{
    position: absolute;
    background-color:white;
    top: 10vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    color:#128C7E;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.chat_front_img img{
    height: 30vh;
}
.user_info{
    height: 9vh;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    width: 75vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 0vh 5vh;
    gap: 5vh;
}
.user_info i{
    color: #005C4B;
}
.user_info p{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
}
.message{
    gap: 1vh;
    width: 75vw;
    height: 75vh;
    color: white;
    padding: 1vh 2vh 1vh 2vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    overflow: auto;
}
form{
    height: 8vh;
    background-color: rgba(255, 255, 255, 0.9);
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
form button{
    background-color: rgba(255, 255, 255, 0.9);
    border: 0px solid;
    height: 8vh;
    width: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form button i{
    color: #1ebe5d;
    cursor: pointer
}
form label i{
    padding: 1vh;
    color: #666;
    cursor: pointer;
    font-size: 22px;
}
input{
    height: 8vh;
    width: 100%;
    word-break: break-all;
    text-wrap: wrap;
    border: 0px solid;
    padding: 0px 2rem; 
    font-size: 1rem;
    font-weight: 500;   
}
input:focus{
    outline: none;
}
.search_box{
    height: 9vh;
    padding: 2vh 0vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0vh;
    background-color:#005C4B;
}
.search_box button {
    background-color: #25D366; /* WhatsApp green */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}
.search_box button:hover {
    background-color: #1ebe5d; /* Darker green on hover */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
#search{
    border: none;
    outline: none;
    padding: 10px;
    height: 6vh;
    border-radius: 30px;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    width: 90%;
}
#search:hover{
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
.sender{
    min-width: 7vw;
    width: max-content;
    max-width: 20vw;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
    height: max-content;
    border-radius: 0.5rem 0rem 0.5rem 0rem;
    background-color: #005C4B;
    color: white;
    padding: 0.5vw;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    text-wrap:wrap;
}
.recieved{
    min-width: 7vw;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    width: max-content;
    max-width: 20vw;
    height: max-content;
    border-radius: 0rem 0.5rem 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    text-wrap:wrap;
    background-color: #343434;
    color: white;
    padding: 0.5vw;
    align-self: flex-start;
   
}
.para{
    width:100%;
    padding: 0px 3px;
    word-break:break-word;  
    min-height: max-content;    
    text-wrap: wrap;
    display: flex;
    font-size: 0.9rem;
    text-decoration: solid;
    letter-spacing: 0.1vh;
    align-items: center;
}

.bajo{
    height: 3vh;
    width: 3vh;
    background-color: white;
    clip-path: polygon(0% 0%,100% 50%,0% 100%,10% 70%,50% 50%,10% 30%);
}
.span{
    color:orange;
    background-color: #004F3C;
    border-radius: 5px;
    padding: 2px 3px;
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 0.5vh;
    font-weight: 700;
}
.span2{
    width: 100%;
    background-color: #2A2A2A;
    border-radius: 5px;
    margin-bottom: 0.5vh;
    padding: 2px 3px;
    color:blueviolet;
    font-size: 0.9rem;
    font-weight: 700;
}
.time{
    width: max-content;
    font-size: 0.7rem;
    color: #999;
    place-self:flex-end;
}
.newjoin{
    place-self: center;
    height: max-content;
    padding: 0.5vh 2vh;
    width: max-content;
    background-color: whitesmoke;
    color: #888;
    border-radius: 0.2rem;
    font-size: 0.8rem;
}
.online_user{
    font-size: 6px;
    display: none;
    color: #28a745;
}




@media(max-width:431px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   input{
        width: 80vw;
   }
   form{
    gap: 1vh;
   }
   .sender,.recieved{
    max-width: 60vw;
    min-width: 40vw;
    padding: 1vw;
   }
   .span,.span2,.para{
    width: 100%;
   }
   .nav{
    padding: 0rem 1.5rem;
   }
   .nav #para,.logo{
    gap: 1vh;
   }
}
@media(max-width:361px){
    h1{
        font-size: 1.7rem;
    }
    .sender{
        min-width: 40vw;
    }
    .recieved{
        min-width: 40vw;
    }
    .message{
        height: 83vh;
    }
    form{
        height: 10vh;
    }
    .nav{
        padding:0rem 1rem;
    }
}
@media (max-width: 768px) and (min-width:432px) {
    .sender,.recieved{
        max-width: 60vw;
        min-width: 40vw;
    }
    input{
        width: 70vw;
    }
}
@media(max-width:1139px) and (min-width:768px){
    .sender,.recieved{
        max-width: 50vw;
        min-width: 30vw;
        font-size: 1rem;
    }
    .span,.span2{
        font-size: 1rem;
    }
    .newjoin,.time{
        font-size: 0.8rem;
    }
    input{
        font-size: 1rem;
        width: 70vw;
    }
    .logo p{
        font-size: 1rem;
    }
    .nav #para{
        font-size: 1rem;
    }
    i{
        font-size: 2rem;
    }
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 0.5vh; 
}
::-webkit-scrollbar-corner{
    display: none;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 0.25vh;
    width: 0.5vh;
}
